<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        @font-face {
            font-family: 'BookkMyungjo-Bd';
            src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2');
            font-weight: 700;
            font-style: normal;
        }
    </style>
</head>
<body style="background-color: bisque; font-family: 'BookkMyungjo-Bd';">
    <h1>안녕하세요.</h1>

    <script>
        alert("Hello, Rim2!")
    </script>
</body>
</html>