<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        @font-face {
            font-family: 'RixYeoljeongdo_Regular';
            src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
    </style>
</head>
<body style="background-color: lightskyblue; font-family: 'RixYeoljeongdo_Regular';">
    <h1 style="color: darkred">뮤즈 내한와라 제발!!</h1>
</body>
</html>